@model OutfitsApp.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccessoryBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessorySeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessorySeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessoryPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoriesID }) |

    @Html.ActionLink("Delete", "Delete", new { id = Model.AccessoriesID })|

    @Html.ActionLink("Back to List", "Index")
</p>
